.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .tabs {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tab-btn {
    display: block;
    flex: 1;
    padding: 8px 20px;
    background: #eee;
    border: 0;
  }
  
  .tab-indicator-container {
    display: flex;
    background: #eee;
    margin-bottom: 10px;
  }
  
  .tab-indicator {
    height: 3px;
    background: #007bff;
    transition: transform 0.2s;
  }
  
  .tab-content {
    padding: 10px;
  }